@charset "UTF-8";
/*
 Em HTML é ID , em CSS vira # (Só pode um elemento)
 Em HTML é class , em CSS vira . (pode vários elementos)
*/
body {
    background-color: rgb(192, 192, 192);
    font-family: Arial, Helvetica, sans-serif;
}

h1#pricipal{
    text-align: center;
    background-color: rgb(75, 95, 74);
    color: white;
}

h1{
    color:#0c2b12 ;

}


h2{
    color: rgb(42, 118, 38);
}

.basico{
    color: rgb(7, 255, 7);
    
}

.intermediario{
    color: rgb(255, 255, 0);
}

.avancado{
    color: rgb(255, 0, 0);
}